<strong class="logo navbar-brand" itemprop="name">
    <a href="{{ site.url }}">
        <img src="{{function('theme_images_path')}}{{options.logo_image_filename}}" alt="{{options.logo_alt}}">
    </a>
</strong>