<nav class="navbar navbar-default" role="navigation">
    <a href="#primary_menu" class="toggel ajax-content"><i class="fa fa-bars"></i> <span>Navigation anzeigen</span></a>
    {{function('primary_menu')}}
</nav>