<nav class="navbar navbar-default" role="navigation">
    <?php
                    wp_nav_menu( array(
                        'theme_location' => 'main-menu',
    'container' => 'nav',
    'depth' => 2,
    'container_id' => 'bs-example-navbar-collapse-1',
    'container_class' => 'collapse navbar-collapse',
    'menu_class' => 'nav navbar-nav',
    'items_wrap' => '<ul id="%1$s" class="%2$s">%3$s</ul>',
    'fallback_cb' => 'wp_bootstrap_navwalker::fallback',
    'walker'=> new wp_bootstrap_navwalker()
    ));
    ?>
</nav>