{% if news %}
    <section class="widget widget--latest-news">
        <div class="headline-wrapper">
            <strong class="headline">{{ instance.headline }}</strong>
            <em class="subline">{{ instance.subline }}</em>
        </div>
        {{ news }}
    </section>
{% endif %}
