{% if children %}
    <section class="widget widget--subnav">
        <div class="headline-wrapper">
            {% if headline %}<strong class="headline">{{ headline }}</strong>{% endif %}
        </div>
        <ul class="list-group">
            {{ children }}
        </ul>
    </section>
{% endif %}
