# Some system files
.idea
.DS_Store
Thumbs.db


# External repositories
/resources/assets/bower_components
/lumen/vendor
/public/wordpress


# Backup files
/backup/backups/**
!/backup
!/backup/backups


# Asset resources cache files
.sass-cache
node_modules
npm-debug.log
/resources/assets/js/compiled


# Secure config files from git?
backup/start.sh
/install/config/**
!/install/config/*-sample.json
/.env.*


# Only for package dev
!/.env
/public/wp-config.php
/public/content/languages/**
!/public/content/languages/index.php
/public/content/mu-plugins/**
!/public/content/mu-plugins/index.php
/public/content/plugins/**
!/public/content/plugins/index.php
/public/content/uploads/**
!/public/content/uploads/index.php

