.form {
    &,
    form {
        display: block;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    legend {
        display: none;
    }

    label {
        cursor: pointer;
    }

    button,
    input,
    select,
    textarea {
        outline: none;
    }

    textarea,
    input {
        box-sizing: border-box;
    }

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="url"],
    input[type="search"],
    input[type="number"] {
        box-sizing: border-box;
        padding: 3px 8px;
        float: left;
        border: 1px solid $gray-light;
    }

    textarea {
        resize: vertical;
        box-sizing: border-box;
        width: 100%;
    }

    button {
        box-sizing: border-box;
        border: none;
        padding: 4px 8px;
        background: $brand-primary;
        cursor: pointer;
        @include transition(all, 0.3s);

        &,
        i {
            color: $gray-light;
        }

        &:focus,
        &:hover {
            background: darken($brand-primary,8%);
        }
    }


    &.login {
    }

    &.search {

    }

    &.newsletter {

    }
}