.form-control {
    box-sizing: border-box;
    padding: 3px 8px;
    border: 1px solid #e0e0e0;
    background: #f1f1f1;
}

form {
    & {
        display: block;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    legend {
        display: none;
    }

    label {
        cursor: pointer;
    }

    button,
    input,
    select,
    textarea {
        outline: none;
    }

    textarea,
    input {
        box-sizing: border-box;
    }



    textarea {
        resize: vertical;
        box-sizing: border-box;
        width: 100%;
    }

    button {
        box-sizing: border-box;
        border: none;
        padding: 4px 8px;
        background: $brand-primary;
        cursor: pointer;
        @include transition(all, 0.3s);

        &,
        i {
            color: $gray-light;
        }

        &:focus,
        &:hover {
            background: darken($brand-primary,8%);
        }
    }

    .form-errors {
        ul {
            padding-left: 0;
            margin-bottom: 20px;
        }

        li {
            list-style: none;
            &:before {
                @include fa-icon-css(arrow-circle-right);
                color: red;
                margin-right: 10px;
            }
        }
    }

    .error {
        &.form-group-check label,
        &.form-group-radio label {
            color: red;
        }

        textarea,
        select,
        input {
            border-color: red;
        }
    }


    &.login {
    }

    &.search {

    }

    &.newsletter {

    }
}