/*  ---------------------------------------------------------

    Mixins ready to use:
    @include linear-gradient(#000, #BADA55);
    @include transition(all, 0.2s, ease-in-out);
    @include box-sizing(border-box);
    @include border-radius(5px);
    @include border-top-radius(10px);
    @include border-right-radius(8px);
    @include border-bottom-radius(10px);
    @include border-left-radius (6px);
    @include opacity(0.8);
    @include font-size(12);
    @include line-height(16);
    @include rotate(0,50%,50%);
    @include grayscale();

	---------------------------------------------------------*/

/*  ---------------------------------------------------------
	Include mixins and modules
	---------------------------------------------------------*/
@import "markup-mixins";
@import "markup-variables";
@import "libs/fancybox";
@import "libs/bootstrap";
@import "libs/font-awesome";


/*  ---------------------------------------------------------
	Include componsnts
	---------------------------------------------------------*/
@import "components/blog";
@import "components/form";


/*  ---------------------------------------------------------
	General page styles
	---------------------------------------------------------*/
* {
    color: $text-color;
    @include font-size(16);
    @include line-height(22);

    @media (max-width: $tablet) {
        @include font-size(16);
        @include line-height(22);
    }
    @media (max-width: $mobile) {
        @include font-size(18);
        @include line-height(24);
    }
}

html {
    @include font-size(16);

}

body {
    background: #fff;
}


/*  ---------------------------------------------------------
	Headline styles
	---------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-style: italic;
    @include transition(all, 0.2s);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    @include transition(all, 0.2s);
}

h1 {
    &,
    & > a {
        color: $brand-primary;
        @include font-size(32);
    }
}

h2 {
    &,
    & > a {
        @include font-size(28);
        color: $brand-primary;
    }
}

h3 {
    &,
    & > a {
        @include font-size(22);
        color: $brand-primary;
    }
}

h4 {
    &,
    & > a {
        @include font-size(18);
        color: $brand-primary;
    }
}

h5 {
    &,
    & > a {
        @include font-size(16);
        color: $brand-primary;
    }
}

h6 {
    &,
    & > a {
        @include font-size(18);
        color: $brand-primary;
    }
}


/*  ---------------------------------------------------------
	Link styles
	---------------------------------------------------------*/
a {
    color: #000;
}

a:hover,
a:focus {

}


/*  ---------------------------------------------------------
    List styles
	---------------------------------------------------------*/
ul {
    list-style: disc;
}

ul li {

}

ol {
    list-style: decimal;
}

ol li {

}



.pagination .current {
    @extend .active;
}


/*  ---------------------------------------------------------
	Table styles
	---------------------------------------------------------*/
table {
    border: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {

}

table th {
    font-weight: 700;
}

table td {
    vertical-align: top;
}


/*  ---------------------------------------------------------
	Global content styles
	---------------------------------------------------------*/
img {
    max-width: 100%;
}


/*  ---------------------------------------------------------
	Main structure
	---------------------------------------------------------*/
.centered {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/**
 * Header
 */
#site__header {
    .logo {
        &,
        a {
            display: block;
        }
    }

    .navbar {
        min-height: inherit;
    }
}

/**
 * Content
 */
#site__main {

}


/**
 * Footer
 */
#site__footer {
    nav {
        text-align: right;

        li,
        a {
            display: inline-block;
        }

        a {
            margin-left: 10px;
        }
    }
}

/*  ---------------------------------------------------------
	Include print styles
	---------------------------------------------------------*/
@import "print";