/*  colors */
$primary-color: #000;
$primary-contrast-color: #fff;
$secoundary-color: #CCC;
$secoundary-contrast-color: #fff;
$light-gray: #efefef;
$gray: #888888;
$text-color: #333333;
$black: #000;
$white: #fff;
$gray-shadow: #c2c7cc;
$border-color: #dbe6ed;
$alt-border-color: #d8dadc;


/* Resolutions */
$desktop: 1199px;
$tablet: 989px;
$mobile: 767px;
$mobile-small: 550px!default;
$desktop-large: 1500px;