<nav class="container footer-links">
    <hr>
    <ul>
        {% if next %}
            <li class="link"><a href="{{next.link}}">{{next.text}}</a></li>
        {% endif %}

        {% if prev %}
            <li class="link"><a href="{{prev.link}}">{{prev.text}}</a></li>
        {% endif %}
    </ul>
</nav>