<strong class="widget-title">Suchfunktion</strong>
<form role="form" method="get" action="{{ home_url }}" class="search-form">
	<fieldset>
		<div class="form-group">
			<input type="search" class="form-control" name="s" id="exampleInputEmail1" placeholder="Suchen...">
			<button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
		</div>
	</fieldset>
</form>