{% extends "layout/base.php.twig" %}
{% block content %}
    <h1>{{post.title}}</h1>
    {{ function('do_shortcode', '[hr]') }}
    <div class="body">
        {{post.content}}
    </div>
{% endblock %}