{% extends "layout/base.php.twig" %}
{% block content %}
    <div class="container">
        {% if not has_h1 %}
            <h1>{{post.title}}</h1>
        {% endif %}
        {{ function('do_shortcode', '[hr]') }}
        <div class="body">
            {{post.content}}
        </div>
    </div>
{% endblock %}